{% comment %}
  Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% paginate collection.products by 11 %}

<header class="section-header text-center dm-collection-header">
  
  <!--<hr class="hr--small">-->
  {% if collection.description != blank %}
    <div class="grid">
      <div class="grid__item">
        <div class="rte">
          {{ collection.description }}
        </div>
      </div>
    </div>
  {% endif %}
  
</header>

{% if settings.collection_products_grid == 'collage' %}
  <div class="grid grid-collage">
    {% comment %}
      Loop through our products in the current collection.
      See the snippet 'snippets/product-grid-collage.liquid'.

      `is_reverse_row__product`, `three_row_index__product`, `collection_product_count`, and `divisible_by_three__product` are
      all used by 'snippets/product-grid-collage.liquid'
    {% endcomment %}
      
    {% comment %} if the url contains a number from 1..10 {% endcomment %}
      {% comment %} get the numbers index of {% endcomment %}
      {% comment %} splice the array and return the number {% endcomment %}
    <div class="grid__item filter-wrapper dm_grid__item large--one-third medium--one-half small--one-whole">
        {% include "left-aside-filter" %}
    </div>

    {% assign is_reverse_row__product = false %}
    {% assign three_row_index__product = 0 %}
    {% assign collection_product_count__product = collection.products_count %}
    {% assign divisible_by_three__product = collection_product_count__product | modulo:3 %}
    {% for product in collection.products %}
    
      <div class="grid__item dm_grid__item large--one-third medium--one-half" id="product-{{ forloop.index | plus:paginate.current_offset }}">
        {% include 'product-grid-item' with product %}
      </div> 

    {% else %}

      {% if collection.handle == 'all' %}

        {% comment %}
          Add default products to help with onboarding for collections/all only
        {% endcomment %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

        {% include 'onboarding-empty-collection' %}

      {% else %}

        {% comment %}
          If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item text-center">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endif %}

    {% endfor %}

  </div>
{% elsif settings.collection_products_grid == 'grid' %}
  <div class="grid-uniform">
    {% assign grid_item_width = 'medium--one-half large--one-third' %}
    {% for product in collection.products %}
      {% include 'product-grid-item' %}
    {% else %}
      {% if collection.handle == 'all' %}
        {% comment %}
          Add default products to help with onboarding for collections/all only
        {% endcomment %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

        {% include 'onboarding-empty-collection' %}

      {% else %}

        {% comment %}
          If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item text-center">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endif %}
    {% endfor %}
  </div>
{% endif %}


{% if paginate.pages > 1 %}
  <div class="pagination">
    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
  </div>
{% endif %}

{% endpaginate %}
